/*
 * @name Desert
 * @author anatoly techtonik <techtonik@gmail.com>
 * @summary Port of Vim "desert.vim" color scheme
 * @kind dark
 * @see http://www.vim.org/scripts/script.php?script_id=105
 */

/* highlight Normal guifg=White guibg=Grey20 */
pre.prettyprint { background-color: #333; color: #fff; }
pre .nocode { color: #fff; }
/* highlight Constant guifg=#ffa0a0 */
pre .str { color: #ffa0a0; }
/* highlight Statement guifg=Khaki gui=bold */
pre .kwd { color: #f0e68c; font-weight: bold; }
/* highlight Comment guifg=SkyBlue */
pre .com { color: #87ceeb; }
/* highlight Type guifg=DarkKhaki gui=bold */
pre .typ { color: #bdb76b; /* font-weight: bold; */ }
pre .lit { color: #ffa0a0; }
/* highlight Special guifg=NavajoWhite */
pre .pun { color: #fff; }
pre .opn, pre .clo { color: #ffdead; }
pre .pln { color: #fff; }
pre .tag { color: #f0e68c; font-weight: bold; }
pre .atn { color: #bdb76b; font-weight: bold; }
pre .atv { color: #ffa0a0; }
/* highlight PreProc guifg=IndianRed */
pre .dec { color: #cd5c5c; }
/* highlight Identifier guifg=PaleGreen */
pre .var { color: #98fb98; }
pre .fun { color: #98fb98; }
/* highlight Underlined gui=underline guifg=#80a0ff */
.prettyprint a { color: #80a0ff; text-decoration: underline; }
/* highlight LineNr guifg=Yellow */
ol.linenums { color: #ff0; }
