/*
 * @name Doxy
 * @author Robert Sperberg
 * @kind dark
 */

@media screen {
  /* forground, background: white text on black */
  .prettyprint {
    font-weight: bold;
    background-color: #0f0f0f;
    color: #f0f0f0;
  }
  /* plaintext: white */
  .prettyprint .pln,
  .prettyprint .nocode {
    color: #f0f0f0;
  }
  /* punctuation: lemon chiffon4 */
  .prettyprint .pun,
  .prettyprint .opn,
  .prettyprint .clo {
    color: #8b8970;
  }
  /* string: eggyolk gold */
  .prettyprint .str {
    color: #fec243;
  }
  /* keyword: light slate blue */
  .prettyprint .kwd {
    color: #8470ff;
  }
  /* comment: green */
  .prettyprint .com {
    color: #32cd32;
    font-style: italic;
  }
  /* type: turq green */
  .prettyprint .typ {
    color: #6ecbcc;
  }
  /* literal: cherry red */
  .prettyprint .lit {
    color: #d06;
  }
  /* variable, function: light purply */
  .prettyprint .var,
  .prettyprint .fun {
    color: #d0a0d0;
  }
/* html/xml tag: bluey */
  .prettyprint .tag {
    color: #9c9cff;
  }
  /* html/xml attribute name: lt turquoise */
  .prettyprint .atn {
    color: #46eeee;
    font-weight: normal;
  }
  /* html/xml attribute value: rosy brown2 */
  .prettyprint .atv {
    color: #eeb4b4;
  }
  /* html/xml declaration: blue */
  .prettyprint .dec {
    color: #3387cc;
  }
  /* hyperlinks */
  .prettyprint a {
    text-decoration: none;
  }
}

/* line numbers: same color as punctuation */
.prettyprint ol.linenums {
  color: #8b8970;
}

@media print, projection {
  .prettyprint {
    background-color: #fff;
    color: #000;
  }
  .prettyprint .pln,
  .prettyprint .nocode {
    color: #000;
  }
  .prettyprint .pun,
  .prettyprint .opn,
  .prettyprint .clo {
    color: #440;
  }
  .prettyprint .str,
  .prettyprint .atv {
    color: #088;
  }
  .prettyprint .kwd {
    color: #006;
    font-weight: bold;
  }
  .prettyprint .com {
    color: #0c3;
    font-style: italic;
  }
  .prettyprint .typ {
    color: #404;
    font-weight: bold;
  }
  .prettyprint .lit {
    color: #044;
  }
  .prettyprint .var,
  .prettyprint .fun {
    color: #606;
    font-weight: bold;
  }
  .prettyprint .dec {
    color: #606;
  }
  .prettyprint .tag {
    color: #b66ff7;
    font-weight: bold;
  }
  .prettyprint .atn {
    color: #c71585;
  }
}
