/*
 * @name Son of Obsidian
 * @author Alex Ford
 * @summary Port of einaros's "Son of Obsidian" Visual Studio theme
 * @kind dark
 * @see http://CodeTunnel.com/blog/post/71/google-code-prettify-obsidian-theme
 * @see http://studiostyl.es/schemes/son-of-obsidian
 */

@media screen {
  /* <Item Name="Plain Text" Foreground="0x00F3F2F1" Background="0x002A2822"> */
  .prettyprint {
    color: #F1F2F3;
    background-color: #22282A;
  }
  .prettyprint .pln {
    color: #F1F2F3;
  }
  /* <Item Name="Excluded Code" Foreground="0x00616161"> */
  .prettyprint .nocode {
    color: #616161;
  }
  /* <Item Name="Operator" Foreground="0x00B7E2E8"> */
  .prettyprint .pun {
    color: #E8E2B7;
  }
  /* <Item Name="XML CData Section" Foreground="0x008AA399"> */
  .prettyprint .opn,
  .prettyprint .clo {
    color: #99A38A;
  }
  /* <Item Name="Keyword" Foreground="0x0063C793"> */
  /* <Item Name="HTML Element Name" Foreground="0x0063C793"> */
  .prettyprint .kwd,
  .prettyprint .tag {
    color: #93C763;
  }
  /* <Item Name="class name" Foreground="0x00B18C67"> */
  /* <Item Name="HTML Attribute" Foreground="0x00B18C67"> */
  .prettyprint .typ,
  .prettyprint .atn {
    color: #678CB1;
  }
  /* <Item Name="XAML Markup Extension Class" Foreground="0x00B48C8C"> */
  .prettyprint .var,
  .prettyprint .fun {
    color: #8C8CB4;
  }
  /* <Item Name="String" Foreground="0x000076EC"> */
  /* <Item Name="HTML Attribute Value" Foreground="0x000076EC"> */
  .prettyprint .str,
  .prettyprint .atv {
    color: #EC7600;
  }
  /* <Item Name="Number" Foreground="0x0022CDFF"> */
  .prettyprint .lit {
    color: #FFCD22;
  }
  /* <Item Name="Comment" Foreground="0x007B7466"> */
  .prettyprint .com {
    color: #66747B;
  }
  /* <Item Name="HTML Entity" Foreground="0x00BD82A0"> */
  /* <Item Name="Preprocessor Keyword" Foreground="0x00BD82A0"> */
  .prettyprint .dec {
    color: #A082BD;
  }
  /* <Item Name="urlformat" Foreground="0x00F9DA99"> */
  .prettyprint a {
    color: #99DAF9;
    text-decoration: underline;
  }
  /* <Item Name="Line Number" Foreground="0x00494E3F" Background="0x00343129"> */
  .prettyprint ol.linenums {
    color: #3F4E49;
    background-color: #293134;
  }
  .prettyprint li.L0,
  .prettyprint li.L1,
  .prettyprint li.L2,
  .prettyprint li.L3,
  .prettyprint li.L4,
  .prettyprint li.L5,
  .prettyprint li.L6,
  .prettyprint li.L7,
  .prettyprint li.L8,
  .prettyprint li.L9 {
    background-color: #22282A;
  }
}
