/*
 * @name Sunburst
 * @author David Leibovic
 * @summary Port of TextMate "Sunburst.tmTheme" theme
 * @kind dark
 * @see http://fastcheetahs.com/blog/2011/03/prettify-pretty-printing-your-code-with-style/
 * @see https://github.com/Soryu/Sunburst
 */

@media screen {
  /* foreground=#F8F8F8, background=#000000 */
  .prettyprint {
    color: #F8F8F8;
    background-color: #000;
  }
  .prettyprint .pln,
  .prettyprint .nocode {
    color: #F8F8F8;
  }
  /* scope=punctuation.section.(block|braces|parens).* */
  /* scope=meta.(block|braces|parens) */
  .prettyprint .pun,
  .prettyprint .opn,
  .prettyprint .clo {
    color: #F8F8F8;
  }
  /* scope=keyword, foreground=#E28964 */
  .prettyprint .kwd {
    color: #E28964;
  }
  /* scope=entity, foreground=#89BDFF */
  /* scope=entity.name.type, fontStyle=underline */
  /* scope=meta.tag foreground=#89BDFF */
  .prettyprint .typ,
  .prettyprint .tag {
    color: #89BDFF;
  }
  /* scope=variable foreground=#3E87E3 */
  .prettyprint .var {
    color: #3E87E3;
  }
  /* scope=support.function foreground=#DAD085 */
  .prettyprint .fun {
    color: #DAD085;
  }
  /* scope=string, foreground=#65B042 */
  .prettyprint .str,
  .prettyprint .atv {
    color: #65B042;
  }
  /* scope=(source entity.other.attribute-name) foreground=#E0C589 */
  .prettyprint .atn {
    color: #E0C589;
  }
  /* scope=constant, foreground=#3387CC */
  .prettyprint .lit {
    color: #3387CC;
  }
  /* scope=comment, fontStyle=italic, foreground=#AEAEAE */
  .prettyprint .com {
    color: #AEAEAE;
    font-style: italic;
  }
  /* scope=(meta.sgml.html meta.doctype) foreground=#494949 */
  .prettyprint .dec {
    color: #494949;
  }
  /* scope=meta.preprocessor.c foreground=#8996A8 */
  /*
  .prettyprint .dec {
    color: #8996A8;
  }
  */
  /* scope=markup.underline fontStyle=underline foreground=#E18964 */
  .prettyprint a {
    color: #E18964;
    text-decoration: underline;
  }
  /* line numbers */
  .prettyprint ol.linenums {
    color: #7C7C7C;
  }
}
